<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
</head>
<body>
  <h2>Sign Up</h2>
  <form action="/signup" method="POST">
    <label>Name:</label>
    <input type="text" name="name" required /><br>
    <label>Referrer UUID (optional):</label>
    <input type="text" name="referrer_id" /><br><br>
    <button type="submit">Sign Up</button>
  </form>
</body>
</html>
